<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Créditos</h1>
    <p>Teresa Hernando Bravo</p>
    <img src="/images/avatar.png" width="200"/>
    <br>
    <br>
    <a href="/">Inicio</a>
  </body>
</html>
